#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

header {
    background-color: rgb(33, 33, 33);
    border-radius: 6px;
    margin: 1vh;
    
}

h1 {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    font-family: "Comic Sans MS";
    
}

#tasks {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    margin: 0 auto;
}

.flex-item {
    margin-right: 2vh;
    margin-left: 2vh;
    width: 45vh;
    height: 4vh;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px;
}

.td {
    box-shadow: 0px 0px 5px 0px lightgrey;
}
.ip {
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.d {
    box-shadow: 0px 0px 5px 0px lightgrey;
}

#sidePanel {
    background-color: rgb(33, 33, 33);
    color: white;
    width: 15vh;
    line-height: 5vh;
    height: 32vh;
    border-radius: 6px;
}


.bucket {
    background-color: lightgrey;
    height: 85vh;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 1vh;
}

ul {
    list-style-type: none;
}


@media (max-width: 2220px) {
    #main {
        flex-direction: column;
    }
    #sidePanel {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .flex-item {
        margin-top: 10vh;
    }
}

@media (max-width: 2000px) {
    .flex-item {
        width: 35vh;
        margin-top: 10vh;
    }
}

@media (max-width: 1600px) {
    #tasks {
        flex-direction: column;
    }
    .flex-item {
        margin-bottom: 100vh;
    }
}

@media (max-width: 550px) {
    .flex-item {
        width: 25vh;
    }
}

@media (max-width: 440px) {
    .flex-item {
        width: 20vh;
    }
}