#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

header {
    background-color: rgb(33, 33, 33);
    border-radius: 6px;
    margin: 1vh;
    
}

h1 {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    font-family: "Comic Sans MS";
    
}

#tasks {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    margin: 0 auto;
}

.flex-item {
    margin-right: 2vh;
    margin-left: 2vh;
    width: 45vh;
    height: 4vh;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px;
}

.td {
    box-shadow: 0px 0px 5px 0px lightgrey;
}
.ip {
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.d {
    box-shadow: 0px 0px 5px 0px lightgrey;
}

#sidePanel {
    background-color: rgb(33, 33, 33);
    color: white;
    width:25vh;
    line-height: 5vh;
    height: 35vh;
    border-radius: 6px;
    text-align: left;
}


.bucket {
    background-color: lightgrey;
    height: 85vh;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 1vh;
}

ul {
    list-style-type: none;
}


@media (max-width: 1500px) {
    #tasks {
        flex-direction: column;
    }
    .flex-item {
        margin-bottom: 100vh;
    }
}

@media (max-width: 550px) {
    .flex-item {
        width: 25vh;
    }
}

@media (max-width: 440px) {
    .flex-item {
        width: 20vh;
    }
}

.list-title {
    color: white;
    font-weight: 700;
    border-radius: 6px 6px 0px 0px;
}

.tdtitle {
    background: rgb(58,121,180);
    background: linear-gradient(180deg, rgba(58,121,180,1) 0%, rgb(38, 170, 203) 100%, rgba(69,221,252,1) 100%); 
}

.iptitle {
    background: rgb(180,58,115);
    background: linear-gradient(180deg, rgba(180,58,115,1) 0%, rgba(155,29,253,1) 100%, rgba(252,176,69,1) 100%); 
}

.dtitle {
    background: rgb(58,180,110);
    background: linear-gradient(180deg, rgba(58,180,110,1) 0%, rgba(50,253,29,1) 100%, rgba(252,176,69,1) 100%);  
}